* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header h1,
/*alterar estilo da fonte corretamente*/
section h2 {
    font-family: 'Bungee' cursive;
}

body {
    font-family: 'Robot', sans-serif;
}

header {
    padding: 16px 0;
    background-color: #182c61;
    color: #ecf0f1;
}

header h1,
section h2 {
    font-weight: normal;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: #ecf0f1;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands-list img {
    height: 22px;
}

.brands-list li {
    display: inline;
    margin-right: 8px;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0;
}

section h2 {
    margin-bottom: 16px;
    color: #182c61;
}

section p {
    margin-bottom: 8px;
}

.store-front {
    margin-right: 32px;
}

/*sempre que for necessario tratar somente uma imagem especifica devemos colocar uma classe so para ela para nao intervir em todas as imagens do container*/

.social-links img {
    height: 24px;
}

#contact .container {
    display: block;
}

.contact-methods {
    display: flex;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}
form textarea{
    resize: none; /*usado para impedir que a caixa de texto se expanda */
}